.main,
.home-page {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.home-page {
  padding: 2rem;
  box-shadow: 0 -0px 10px 5px #fff;
  border-radius: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.options > button {
  width: 200px;
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 1rem;
  margin: 20px auto;
  padding: 1rem;
  box-shadow: 0 0 10px 5px #fff;
  border: 14px solid transparent;
}

.row {
  display: contents;
}

.cell {
  text-shadow: 0 0 10px #18d7f8;
  width: 100px;
  height: 100px;
  background-color: #333;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
}

.status {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.loading {
  font-size: 1.2rem;
  color: #00ffea;
  margin-top: 10px;
}

.options > button,
.start-game-btn,
.return-home-btn,
.game-btns button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #fff;
  color: #222;
  cursor: pointer;
  border: 4px solid transparent;
  border-image: linear-gradient(
    45deg,
    #000066 0%,
    #8a0067 20%,
    #fff 40%,
    #fff 60%,
    #ffbf00 80%,
    #ffea00 100%
  );
  border-image-slice: 25;
  font-weight: 700;
  box-shadow: 0 0 10px 2px #ffffff80;
  transition: all 0.5s linear;
}

.options > button:hover,
.start-game-btn:hover,
.game-btns button:hover,
.return-home-btn:hover {
  background: none;
  color: #fff;
  border-image: linear-gradient(
    -45deg,
    #000066 0%,
    #8a0067 20%,
    #fff 40%,
    #fff 60%,
    #ffbf00 80%,
    #ffea00 100%
  );
  border-image-slice: 25;
  transform: scale(1.05);
  box-shadow: 0 0 15px 3px #ffffffcc;
}

.winning-cell {
  color: #fff;
  box-shadow: 0 0 5px 6px #c3f;
  border-radius: 2rem;
  animation: Border 4s ease-in infinite;
}

.symbol-selection {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#c3f, #3cf);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  box-shadow: 0 0 5px 6px #fff;
}

.symbol-selection button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.difficulty-buttons,
h3 {
  border-bottom: 0.2rem solid #fff;
}

.symbol-buttons button,
.difficulty-buttons button {
  background: none;
  color: #fff;
  border: none;
}

.symbol-selection > .symbol-buttons button.active,
.difficulty-buttons button.active {
  color: #8a0067;
  text-decoration: underline;
  font-size: 1.4rem;
}

.symbol-buttons button:hover,
.difficulty-buttons button:hover {
  text-decoration: underline;
}

.game-btns {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .home-page {
    padding: 1rem;
  }
  .board {
    width: 240px;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
  }
  .cell {
    width: 70px;
    height: 70px;
  }
}

@keyframes Border {
  0% {
    box-shadow: 0 0 5px 6px #c3f;
  }
  40% {
    box-shadow: 0 0 5px 6px #3cf;
  }
  80% {
    box-shadow: 0 0 5px 6px #3fc;
  }
}
